<h2><strong><%= @project.name %></strong></h2></li>
<%= image_for @project %>
<p><%= @project.description %></p>
<h4>target pledge: <%= number_to_currency(@project.target_pledge_amount) %></h4>
<h4>Pledging ends on: <%= format_pledging_time(@project) %></h4>
<h4>Team: <%= @project.team_members %></h4>


<%= link_to "Edit", edit_project_path %> | 
<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: 'Are you sure?'} %> | 
<%= link_to "who pledged?", project_pledges_path(@project) %> | 
<%= link_to "We need money!", new_project_pledge_path(@project) %>